@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* In your main CSS file (e.g., globals.css) */

.navbar-transparent {
  @apply !bg-transparent;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
}
